In [2]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
df = pd.read_csv('keyskills.txt', sep='\n', header=None)

In [10]:
df.head()

                  0
0            Python
1  Django Framework
2         AngularJS
3            Celery
4        PostgreSQL

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411 entries, 0 to 1410
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1411 non-null   object
dtypes: object(1)
memory usage: 11.1+ KB

In [12]:
df.count()

0    1411
dtype: int64

In [14]:
df[0].count()

1411

In [25]:
top_skills = df.value_counts().head(20).to_frame()

In [26]:
print(top_skills)

                             0
0
Python                     212
Django Framework           180
PostgreSQL                 114
Git                        113
SQL                         69
Linux                       65
MySQL                       33
JavaScript                  33
Redis                       30
ООП                         19
CSS                         19
Docker                      19
Английский — B1 — Средний   19
Nginx                       19
RabbitMQ                    16
MongoDB                     16
Flask                       16
REST                        14
Unit Testing                14
Английский язык             14

In [31]:
top_skills.columns = ['Число повторений']

In [32]:
print(top_skills)

                           Число повторений
0
Python                                  212
Django Framework                        180
PostgreSQL                              114
Git                                     113
SQL                                      69
Linux                                    65
MySQL                                    33
JavaScript                               33
Redis                                    30
ООП                                      19
CSS                                      19
Docker                                   19
Английский — B1 — Средний                19
Nginx                                    19
RabbitMQ                                 16
MongoDB                                  16
Flask                                    16
REST                                     14
Unit Testing                             14
Английский язык                          14

In [46]:
top_skills.index.names = ['Ключевой навык']

In [47]:
names = list(filter(None, top_skills.index.names + top_skills.columns.values.tolist()))

In [48]:
print(names)

['Ключевой навык', 'Число повторений']

In [49]:
print(top_skills)

                           Число повторений
Ключевой навык
Python                                  212
Django Framework                        180
PostgreSQL                              114
Git                                     113
SQL                                      69
Linux                                    65
MySQL                                    33
JavaScript                               33
Redis                                    30
ООП                                      19
CSS                                      19
Docker                                   19
Английский — B1 — Средний                19
Nginx                                    19
RabbitMQ                                 16
MongoDB                                  16
Flask                                    16
REST                                     14
Unit Testing                             14
Английский язык                          14